/*******************************************************************************
 * 
 * Nagios TV Monitor
 * by Christopher P Carey 2010-12-09
 * 
 * main.js
 *
 ******************************************************************************/
 

window.App.config = {
	api_base_url: 'php-api/live.php',
	//api_base_url: '/nagiostv-wsgi/live.py',
	//api_base_url: 'http://debian7/nagiostv-livestatus/php-api/live.php',
	show_flynn: true
};

