<div class="neonbox animated bounceInLeft allok">
	
	<div class="timer-lime">
		<div class="cover circle cover-15s"></div>
		<div class="color-left color-lime circle cover-15s"></div>
		<div class="color-right color-lime circle"></div>
	</div>
	
	{{message}}
</div>